#title{
    background-color: #ff4c68;
    height: 600px;
    
    
}
.nav-link{
    font-size: 3.5 rem;
    font-weight: bolder;
}
.navbar{
    padding-bottom:5%;
    height: 100px;;
}
a{
    font-size: 1.5rem;
}
.nav-barnd{
    
    font-weight: bolder;
    font-family: "ubuntu";
}
.head{
    font-size: 5rem;
}
.row{
    padding-top: 40px;
    
}
h1{
    font-family: "ubuntu";
    
}
button{
    margin: 5%;
}
#feature{
    background-color: #fff;

    padding:10%;
  
    position: relative;
    z-index: 1;
    
    
}
#dog{
    text-align: center;
}

.cir{
    border-radius: 100%;
    width: 200px;
    height: 300px;
}

.photo{
    height: 200px;
    width: 300px;
}
.im{
    height: 100px;
    width: 200px;
}
.gif{
    height: 200px;
    border-radius: 0%;
    margin: 5%;
}

#picture{
    background-color: hsl(351, 76%, 61%);
    padding-left: 10%;
    padding-right: 10%;

}
.tran{
    
    height: 600px;
    position:absolute ;
    transform:rotate(25deg);
    
    
}

.row{
    text-align: center;
}
.col{
    padding: 5%;
}
.needs{
    text-align: center;
    padding-top: 10%;
    margin-bottom: 10%;
    font-size: 1.5rem;
}

#dog{
    background-color: hsl(351, 76%, 61%);
    height: 500px;
}
#content{
    margin-bottom: 200px;
}
#love{
    background-color: #ff4c68;
    height: 600px;
    text-align: center;
    padding-bottom: 5%;
    font-size: 3rem;
    font-weight:bolder;
}
#footer{
    height: 300px;
    text-align: center;
    padding-top: 15%;
}
.icon{
    margin-bottom: 5%;
    padding: 2%
}